.main {
  background-color: #FFEDAE;
}

.titleSection {
  background-color: #C1D2C6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Quicksand, sans-serif;
}

.title {
  font-size: calc(20px + (70 - 20) * ((100vw - 70px) / (1600 - 300)));
  background-color: #59D7A5;
  padding: 3%;
  color: #3F3633;
  margin-bottom: 2%;
  border: 0.2px solid #43C18F;
}

.subtitle {
  color: #282220;
  font-size: calc(30px + (40 - 30) * ((100vw - 40px) / (1600 - 300)));
  margin-bottom: 5%;
}

.form {
  width: 40%;
  align-items: center;
  display: grid;
  grid-template-columns: 30em 7em;
}

.location-input:placeholder-shown {
  background-color: #ACEBD2;
  padding: 3%;
  font-size: calc(15px + (20 - 15) * ((100vw - 20px) / (1600 - 300)));
  font-family: Quicksand, san-serif;
  margin-bottom: 5%;
  border: none;
  width: 70%;
  transition: 0.5s;
  color: #282220;
}

.location-input:not(placeholder-shown) {
  border: none;
  background-color: #B1C7B8;
  border-bottom: 2px solid #369B73;
  color: #282220;
  transition: 0.5s;
  outline: 0;
  padding: 3%;
  font-size: calc(15px + (20 - 15) * ((100vw - 20px) / (1600 - 300)));
  font-family: Quicksand, san-serif;
  margin-bottom: 5%;
  width: 70%;
  border-radius: 5%;
}

.location-input:focus {
  border: none;
  background-color: #B1C7B8;
  border-bottom: 2px solid #369B73;
  transition: 0.5s;
  outline: 0;
  border-radius: 5%;
}

.input-current-location {
  grid-column: 1;
  grid-row: 1;
  margin-left: 50%;
  margin-right: 25%;
  font-size: calc(10px + (15 - 10) * ((100vw - 15px) / (1600 - 300)));
  font-family: Quicksand, san-serif;
  margin-top: -5%;
  padding-top: 1.8%;
  padding-bottom: 1.8%;
  background-color: #A0B963;
  border: none;
  color: #282220;
  transition: 0.5s;
}

.input-current-location:hover {
  background-color: #43C18F;
  border-radius: 15%;
  border: 1px solid #369B73;
  font-weight: bold;
}

.input-current-location:focus {
  outline: 0;
}

.location-input:disabled {
  background-color: #B1C7B8;
}

#start-input {
  grid-column: 1;
  grid-row: 1;
  width: 40%;
}

#destination-input {
  grid-column: 1;
  grid-row: 2;
}

.submit-button {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: calc(15px + (20 - 15) * ((100vw - 20px) / (1600 - 300)));
  font-family: Quicksand, san-serif;
  height: 90%;
  margin-bottom: 20%;
  background-color: #A0B963;
  border: none;
  color: #282220;
  transition: 0.5s;
}

.submit-button:hover {
  background-color: #43C18F;
  border-radius: 15%;
  border: 1px solid #369B73;
  font-weight: bold;
}

.submit-button:focus {
  outline: 0;
}

.mapSection {
  background-color: #C1D2C6;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: Quicksand, sans-serif;
}

.actualMap {
  min-height: 70vh;
  max-width: 75vh;
  margin-left: 10%;
  background-color: #E0E8E2;
  border-radius: 7%;
  padding: 2.5%;
  border: 1px solid #2F4937;
}

.parking {
  min-height: 70vh;
  max-width: 30vh;
  background-color: #E0E8E2;
  border-radius: 7%;
  padding: 2.5%;
  border: 1px solid #2F4937;
  margin-left: 110vh;
  margin-top: -78.5vh;
  color: #282220;
}